extends layout
block content
	.main.container
		div.page-header.text-center
			h1
				span.fa.fa-user-circle Perfil de Usuario
				a.btn.btn-default.btn-sm(href="/logout") Desconectar

		div.row
			//- LOCAL INFORMATION
			div.col-sm-6
				div.well
					h3.text-default
						span.fa.fa-user Local
					if (user.local.email) 
						p!= '<strong>Id</strong>: ' + user._id + '<br>'
						p!= '<strong>Correo</strong>: ' + user.local.email + '<br>'
						p!= '<strong>Clave</strong>: ' + user.local.password

						a.btn.btn-default(href="/unlink/local") Desenlazar
					else
						a.btn.btn-default(href="/connect/local") Conectar Localmente

			//- FACEBOOK INFORMATION
			div.col-sm-6
				div.well
					h3.text-primary
						span.fab.fa-facebook Facebook
					//- check if the user has this token (is the user authenticated with this social account)
					if (user.facebook.token)
						p!= '<strong>Id</strong>: ' + user.facebook.id + '<br>'
						p!= '<strong>Token</strong>: ' + user.facebook.token + '<br>'
						p!= '<strong>Correo</strong>: ' + user.facebook.email + '<br>'
						p!= '<strong>Nombre</strong>: ' + user.facebook.name

						a.btn.btn-primary(href="/unlink/facebook") Desenlazar
					else
						a.btn.btn-primary(href="/connect/facebook") Conectar con Facebook

			//- TWITTER INFORMATION
			div.col-sm-6
				div.well
					h3.text-info
						span.fab.fa-twitter Twitter
						//- check if the user has this token (is the user authenticated with this social account)
					if (user.twitter.token)
						p!= '<strong>Id</strong>: ' + user.twitter.id + '<br>'
						p!= '<strong>Token</strong>: ' + user.twitter.token + '<br>'
						p!= '<strong>Nombre de Usuario</strong>: ' + user.twitter.username + '<br>'
						p!= '<strong>Nombre</strong>: ' + user.twitter.displayName

						a.btn.btn-info(href="/unlink/twitter") Desenlazar
					else
						a.btn.btn-info(href="/connect/twitter") Conectar con Twitter

			//- GOOGLE INFORMATION
			div.col-sm-6
				div.well
					h3.text-danger
						span.fab.fa-google-plus-square Google
					//- check if the user has this token (is the user authenticated with this social account)
					if (user.google.token)
						p!= '<strong>Id</strong>: ' + user.google.id + '<br>'
						p!= '<strong>Token</strong>: ' + user.google.token + '<br>'
						p!= '<strong>Correo</strong>: ' + user.google.email + '<br>'
						p!= '<strong>Nombre</strong>: ' + user.google.name

						a.btn.btn-danger(href="/unlink/google") Desenlazar
					else
						a.btn.btn-danger(href="/connect/google") Conectar con Google